body {
    padding-top: 60px;
    background-color: #fcfcff;
    margin-left: 40px;
    margin-right: 40px;
    /*background: #EEF2EA;*/
    background: #f7f7f9;
}

.container-fluid {
    /*margin-right: 60px;*/
    /*padding: 0px;*/
}

.u-navbar {
    margin-bottom: -10px;
}
.highlight {
    padding: 1px 1px;
    margin-bottom: 5px;
    background-color: #EEF2EA;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}



.highlight-white {
    margin: 7px;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: white;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}





.inner-container {
    margin-right: 7px;
}

.ranking-col {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.panel-heading {
    height: 130px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.active-menu {
    background-color: #e1e1e8;
}

.menu-header {
    font-size: 90%;
}

/* nodes and links */
.link {
    stroke: #ccc;
    /*stroke-opacity: .6;*/

}

.node text {
    pointer-events: none;
    font: 12px sans-serif;
}


.node.fixed {
    fill: #4F68B7;
}

.node.fixed > text {
    font: 13px sans-serif;
    font-weight: bold;
}

// arrows 
.rightArrow {
    right: 2%;
}
.pageButtonContainer {
    /*position: absolute;*/
    z-index: 2;
    /*top: 20%;*/
    display: table;
    background: transparent;
    /*height: 80%;*/
    /*min-height: 450px;*/
}

.pageButton {
    display: table-cell;
    vertical-align: middle;
}

.pageButton img {
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: opacity 0.5s;
}

.pageButton a {
    font-size:120%;
    text-decoration: none;
}

/*.pageButton img:hover {
    opacity: 1;
}*/

.pageButton:hover img {
    opacity: 1;
}

.logo-image {
    position: absolute;
    top: 15px;
    left: 10px;
}


.univ-images {
    position: absolute;
    top: 15px;
    right: 50px;
}

.source-dataset-title, .target-dataset-title {
    letter-spacing: 0px;
    font-size:95%;
    font-family: Arial Narrow,Arial,sans-serif; 
}